
@media only screen and (max-width: 600px) {
.whole{
       background-color: lightblue;
 


}
}
.intro{
 
opacity: 0.6;
background-color: black;



}
h1{
  

  color: white;

 
  font-size: 70px;
  
  font-style: italic;
}
p{
  color: white;
}

.portfolio{
  
 
  background-color:white


}
.skills{
       background-color:white;
 

}

.contact{

  background-color: black;
}
